:root {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-style: normal;
	--bg: #fff;
	--del: #f00;
	--text: #003;
	color: var(--text);
	background-color: var(--bg);
    box-sizing: border-box;
}

.container {
    display:grid;
    grid-template-areas: 
    "header"
    "body"
    "footer";
    grid-template-rows: 10vh 70vh 10vh;
    gap: 3vh;
}

.header {
    grid-area: header;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.header h1 {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}
.header .theme-box {
    display: flex;
    align-items: center;
    border: 3px solid var(--text);
    border-radius: 1rem;
    padding: 0.5rem;
}

.body {
    grid-area: body;
    height: 100%;
}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer .input-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40vw;
    padding: 0rem;
}
.footer input{
    width: 70%;
}

.footer input, .footer button {
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid var(--text);
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}



/* DEBUG */
.debug {
	border: 2px solid red;
}